@using Hotel_Project.Models.Entities.Account;
 @model List<User>
<h1>Hi</h1>
<div class="col-12">
    <div class="admin-table ">
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <th>نام</th>
                    <th>فامیلی</th>
                    <th>ایمل</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>

                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>
                            <a asp-controller="" asp-action="" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-warning">ویرایش</a>
                            <a asp-controller="" asp-action="" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-danger ms-2">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>